:root {

}

/*    iframe     */
.header-iframe {
    display: fixed;
    height: 88px;
    width: 100%;
}
@media(min-width: 320px) {
    .footer-iframe {
        height: 1000px;
        width: 100%;
    }
}
@media(min-width: 1024px) and (max-width: 1239px){
    .footer-iframe {
        height: 486px;
        width: 100%;    
    }
}





/*   home page   */

.hompage {
    background-color: lightgoldenrodyellow;
    text-align: center;
}




